<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Om sidan</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <main class="about-container">
            <nav>
                <a href="/">Startsida</a>
                <a href="/addcourse">Lägg till kurs</a>
                <a href="/about">Om sidan</a>
            </nav>
            <h1>Om sidan</h1>
            <p>Webbplatsen är byggd med Node.js paket, Express och SQLite3. På denna webbplats kan man på
                startsidan se lista för kurser som är sparade i databasen samt radera kurs. <br> På addcourse sidan
                kan man enkelt lägga till ny kurs via ett formulär, och denna sida är information om uppiften.</p><br>
            <p>Databasen heter "courses" och har en tabell för id, kurskod, kursnamn, länk till kursplan och progression för kursen.

            </p>
        </main>
    </div>
    
</body>
</html>