<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lägg till kurs</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <main>
            <h1>Lägg till kurs</h1>
            <form method="post">
                <label for="coursecode" >Kurskod:</label>
                <br>
                <input type="text" id="coursecode" name="coursecode">
                <br>
                <label for="coursename">Kursnamn:</label>
                <br>
                <input type="text" id="coursename" name="coursename">
                <br>
                <label for="syllabus" >Kursplan</label>
                <br>
                <input type="url" id="syllabus" name="syllabus">
                <br>
                <label for="progression">Progression:</label>
                <br>
                <input type="text" id="progression" name="progression">
                <br><br>
                <button type="submit">Lägg till kurs</button>
            </form>

        </main>
    </div>
    
</body>
</html>