<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L채gg till kurs</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <main class="main-container">
            <a href="/">Startsida</a>
            <a href="/addcourse">L채gg till kurs</a>
            <a href="/about">Om sidan</a>
            <h1>L채gg till kurs</h1>

            <% if (error) { %>
                <p class="error"><%= error %></p>
            <% } %>

            <form method="post">
                <label for="coursecode" >Kurskod:</label>
                <br>
                <input type="text" id="coursecode" name="coursecode">
                <br>
                <label for="coursename">Kursnamn:</label>
                <br>
                <input type="text" id="coursename" name="coursename">
                <br>
                <label for="syllabus" >Kursplan</label>
                <br>
                <input type="url" id="syllabus" name="syllabus">
                <br>
                <label for="progression">Progression:</label>
                <br>
                <input type="text" id="progression" name="progression">
                <br><br>
                <button type="submit">L채gg till kurs</button>
            </form>

        </main>
    </div>
    
</body>
</html>