<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kurslista</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <div class="container">
        <main class="main-container">
            <a href="/index">Startsida</a>
            <a href="/addcourse">Lägg till kurs</a>
            <a href="/about">Om sidan</a>

            <h1>Kurslista</h1>


        </main>
    </div>
    
</body>
</html>